In [1]:
import sklearn

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd

In [4]:
!dir .\files\test0630.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 0C41-205E

 C:\develops\test_machinlearning\files 디렉터리

2021-06-30  오후 04:43        52,061,015 test0630.csv
               1개 파일          52,061,015 바이트
               0개 디렉터리   7,929,856,000 바이트 남음

In [5]:
!dir .\files\train.csv

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 0C41-205E

 C:\develops\test_machinlearning\files 디렉터리

2021-06-30  오후 04:44       109,348,313 train.csv
               1개 파일         109,348,313 바이트
               0개 디렉터리   7,929,843,712 바이트 남음

In [6]:
pd_data1 = pd.read_csv('./files/test0630.csv', header = None)
pd_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       625134 non-null  object
 1   1       625134 non-null  int64
 2   2       625134 non-null  object
 3   3       625134 non-null  int64
 4   4       625134 non-null  float64
 5   5       625134 non-null  float64
 6   6       625134 non-null  float64
 7   7       625134 non-null  float64
 8   8       625134 non-null  object
dtypes: float64(4), int64(2), object(3)
memory usage: 42.9+ MB

In [7]:
pd_data2 = pd.read_csv('./files/train.csv', header = None)
pd_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   0       1048575 non-null  object
 1   1       1048575 non-null  int64
 2   2       1048575 non-null  object
 3   3       1048575 non-null  object
 4   4       1048575 non-null  int64
 5   5       1048575 non-null  float64
 6   6       1048575 non-null  float64
 7   7       1048575 non-null  float64
 8   8       1048575 non-null  float64
 9   9       1048575 non-null  object
 10  10      1048575 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 88.0+ MB

In [8]:
pd_data1.shape, pd_data2.shape

((625134, 9), (1048575, 11))

In [9]:
pd_data1.columns = ['id','vendor_id','pickup_datetime','dropoff_datetime','passenger_count','pickup_longitude','pickup_latitude',
                    'dropoff_longitude','dropoff_latitude']
pd_data1

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,id3004672,1,2016-06-30 23:59,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59,1,-73.970215,40.761475,-73.961510,40.755890,N
...,...,...,...,...,...,...,...,...,...
625129,id3008929,1,2016-01-01 0:02,1,-74.003464,40.725105,-74.001251,40.733643,N
625130,id3700764,1,2016-01-01 0:01,1,-74.006363,40.743782,-73.953407,40.782467,N
625131,id2568735,1,2016-01-01 0:01,2,-73.972267,40.759865,-73.876602,40.748665,N
625132,id1384355,1,2016-01-01 0:00,1,-73.976501,40.733562,-73.854263,40.891788,N
625133,id0621643,2,2016-01-01 0:00,2,-73.981850,40.716881,-73.969330,40.769379,N

In [10]:
pd_data2.columns = ['id','vendor_id','pickup_datetime','dropoff_datetime','passenger_count','pickup_longitude','pickup_latitude',
                    'dropoff_longitude','dropoff_latitude','store_and_fwd_flag','trip_duration']
pd_data2

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24,2016-03-14 17:32,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 0:43,2016-06-12 0:54,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35,2016-01-19 12:10,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32,2016-04-06 19:39,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30,2016-03-26 13:38,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
1048570,id0002921,1,2016-04-06 14:16,2016-04-06 14:20,1,-73.973015,40.760948,-73.976387,40.755604,N,207
1048571,id1329189,2,2016-03-24 1:26,2016-03-24 1:38,1,-73.985550,40.727257,-73.957039,40.712387,N,740
1048572,id0408460,1,2016-02-23 16:38,2016-02-23 16:48,1,-73.972038,40.750202,-73.998360,40.733360,N,605
1048573,id0147762,1,2016-05-24 7:20,2016-05-24 7:25,1,-73.993332,40.724342,-74.004250,40.707470,N,287
1048574,id0859354,2,2016-03-15 22:00,2016-03-15 22:19,1,-73.988060,40.759548,-74.005585,40.711521,N,1169

In [11]:
pd_data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1048575 non-null  object
 1   vendor_id           1048575 non-null  int64
 2   pickup_datetime     1048575 non-null  object
 3   dropoff_datetime    1048575 non-null  object
 4   passenger_count     1048575 non-null  int64
 5   pickup_longitude    1048575 non-null  float64
 6   pickup_latitude     1048575 non-null  float64
 7   dropoff_longitude   1048575 non-null  float64
 8   dropoff_latitude    1048575 non-null  float64
 9   store_and_fwd_flag  1048575 non-null  object
 10  trip_duration       1048575 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 88.0+ MB

In [12]:
x2= pd_data2[['passenger_count']]

In [13]:
y2 = pd_data2[['trip_duration']]

In [14]:
x2.shape, y2.shape

((1048575, 1), (1048575, 1))

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x2_train, x2_test, y2_train, y2_test = train_test_split(x2,y2)
x2_train.shape, x2_test.shape, y2_train.shape, y2_train.shape

((786431, 1), (262144, 1), (786431, 1), (786431, 1))

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression()

In [19]:
lr.fit(x2,y2)

LinearRegression()

In [20]:
lr.coef_, lr.intercept_

(array([[31.83685851]]), array([909.15610066]))

In [21]:
lr.score(x2,y2)

5.11053089228275e-05

In [22]:
lr.score(x2_test,y2_test)

0.00017881155968824114

In [23]:
lr.score(x2_train,y2_train)

3.941249332739538e-05

In [25]:
lr.predict([[1]])

array([[940.99295918]])

predict할 데이터의 값이 1로 일정함....... 새로운 x값을도입해야 할것 같음...
또...정확도면에서 상당히 떨어지고, x의 유동값이 필요 할것 같음

In [26]:
import pickle

In [28]:
pickle.dump(lr, open('./saves/kaggle_lr.pkl','wb'))

In [31]:
y2_predict = lr.predict(x2_train)
y2_predict.shape, y2_train.shape

((786431, 1), (786431, 1))

In [32]:
y2_result = y2_train - y2_predict 
y2_result

         trip_duration
652528      240.659607
138539     -760.992959
996672     -931.992959
818781      179.007041
355952     -353.992959
...                ...
124287     -447.992959
654486     -705.992959
908428     -630.992959
1015913    -385.992959
482180     -298.829818

[786431 rows x 1 columns]

In [33]:
lr.score(x2_train, y2_train)

3.941249332739538e-05